# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files (do not upload raw datasets)
data/
*.csv
*.xlsx
*.xls
*.sav
*.dta
*.rds

# Logs
*.log

# VS Code
.vscode/

# Documents
*.pdf
*.docx
